@use 'base' as *;

//modus icon
.toggle-theme {
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    filter: brightness(1) sepia(1) saturate(10000%);
  }
}

//circle
.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid var(--color-circle);
}

//List Item
.todo__list--item {
  display: flex;
  justify-content: space-between;
  gap: $gap-list;
  padding: 1.25rem;
  color: var(--color-primary-text);

  &:not(l:last-of-type) {
    border-bottom: 1px solid var(--color-light-text);
  }

  //align left
  p {
    margin-right: auto;
  }

  //ICON
  .checked-icon {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s, visibility 0.2s;
  }

  .circle {
    cursor: pointer;
  }

  //WHEN CHECKED
  .circle[data-checkable='true'] {
    background: linear-gradient($linear) no-repeat center/cover;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  //DELETED TEXT WHEN CHECKED
  .circle[data-checkable='true'] + p {
    text-decoration: line-through;
    color: var(--color-light-text);
  }
}

//JS checked item
.todo__list--item.checked .checked-icon {
  opacity: 1;
  visibility: visible;
  pointer-events: none;
}

.delete-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;

  svg path {
    transition: fill 0.4s;
  }

  &:hover svg path {
    fill: var(--color-error);
  }
}

//DELETE MODAL
.modal__delete.show {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal__delete.hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal__delete {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-background-modal);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: 0.4s;

  /* GLASSMORPHISM*/
  -webkit-backdrop-filter: blur(15.5px);
  backdrop-filter: blur(12.5px);

  .modal__delete--content {
    width: min(90%, 400px);
    background-color: var(--color-primary);
    color: var(--color-primary-text);
    border-radius: $border-radius;
    padding: 2rem;

    p {
      margin-bottom: 1.5rem;
    }
  }
}

// BUTTONS

.btn-primary {
  padding: 0.5rem 1rem;
  border: 0;
  font-family: inherit;
  border-radius: $border-radius;
  background-color: var(--color-background);
  color: var(--color-primary-text);
  cursor: pointer;
  transition: 0.4s;

  &:hover {
    background-color: var(--color-background-hover);
  }

  &.accept {
    color: var(--color-white);
    background-color: var(--color-error);

    &:hover {
      opacity: 0.8;
    }
  }
}
