@use 'base' as *;

//modus icon
.toggle-theme {
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    filter: brightness(1) sepia(1) saturate(10000%);
  }
}

//List Item
.todo__list--item {
  display: flex;
  justify-content: space-between;
  gap: $gap-list;
  padding: 1.25rem 1rem;
  color: var(--color-primary-text);
  cursor: move;
  position: relative;

  @media screen and (min-width: 600px) {
    padding: 1.5rem;
  }

  //On devices with mouse
  @media screen and (min-width: 600px) and (hover: hover) {
    &:hover .delete-icon {
      visibility: visible;
      opacity: 1;
    }
  }

  &:not(l:last-of-type) {
    border-bottom: 1px solid var(--color-light-text);
  }

  //circle
  .circle {
    //to prevent from changing width and height when more text is written
    width: 20px;
    min-width: 20px;
    height: 20px;
    min-height: 20px;
    border-radius: 50%;
    border: 1px solid var(--color-circle);
    background-color: var(--color-primary);
    position: relative;
    z-index: 5;
    transition: 0.5s;
  }

  span {
    position: absolute;
    top: calc(1.25rem - 1px);
    left: calc(1rem - 1px);
    border-radius: 50%;
    display: block;
    width: 22px;
    height: 22px;
    background-image: linear-gradient($linear);
    opacity: 0;
    transition: 0.5s;

    @media screen and (min-width: 600px) {
      top: calc(1.5rem - 1px);
      left: calc(1.5rem - 1px);
    }
  }

  .circle:hover {
    border: 0px solid var(--color-circle);
  }
  .circle:hover + span {
    opacity: 1;
  }

  //align left
  p {
    margin-right: auto;
  }

  //ICON
  .checked-icon {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s, visibility 0.2s;
  }

  .circle {
    cursor: pointer;
  }

  //WHEN CHECKED
  .circle[data-checkable='true'] {
    background: linear-gradient($linear) no-repeat center/cover;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  //DELETED TEXT WHEN CHECKED
  .circle[data-checkable='true'] + p {
    text-decoration: line-through;
    color: var(--color-light-text);
  }
}

//JS checked item
.todo__list--item.checked .checked-icon {
  opacity: 1;
  visibility: visible;
  pointer-events: none;
}

.delete-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;

  @media screen and (min-width: 600px) and (hover: hover) {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;

    &:hover {
      visibility: visible;
      opacity: 1;
    }
  }

  @media (hover: none) {
    visibility: visible;
    opacity: 1;
  }

  svg path {
    transition: fill 0.4s;
  }

  &:hover svg path {
    fill: var(--color-error);
  }
}

//DELETE MODAL
.modal__delete.show {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal__delete.hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal__delete {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-background-modal);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: 0.4s;

  /* GLASSMORPHISM*/
  -webkit-backdrop-filter: blur(15.5px);
  backdrop-filter: blur(12.5px);

  .modal__delete--content {
    width: min(90%, 400px);
    background-color: var(--color-primary);
    color: var(--color-primary-text);
    border-radius: $border-radius;
    padding: 2rem;

    p {
      margin-bottom: 1.5rem;
    }
  }
}

// BUTTONS

.btn-primary {
  padding: 0.5rem 1rem;
  border: 0;
  font-family: inherit;
  border-radius: $border-radius;
  background-color: var(--color-background);
  color: var(--color-primary-text);
  cursor: pointer;
  transition: 0.4s;

  &:hover {
    background-color: var(--color-background-hover);
  }

  &.accept {
    color: var(--color-white);
    background-color: var(--color-error);

    &:hover {
      opacity: 0.8;
    }
  }
}

//when dragged
.dragging {
  background-color: var(--color-primary-text);
  color: var(--color-primary);
  opacity: 0.7;
  transition: 0.4s;
}
